<h2>Contato</h2>
<p>Envie um e-mail para <strong>wallissonopes.ti@gmail.com</strong> ou entre em contato via redes sociais.</p>

    <a href="mailto:wallissonlopes.ti@gmail.com" class="text-dark me-3 fs-3">
      <i class="bi bi-envelope-fill"></i>
    </a>