/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  height: 100%;
}

body {
  padding-top: 70px; /* ajuste conforme a altura da sua navbar */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.section-title {
  display: inline-block;
  border-bottom: 3px solid #aaabae;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.custom-gap > .nav-item {
  margin-right: 0.75rem; /* aproximadamente 16px */
}

.custom-gap > .nav-item:last-child {
  margin-right: 0;
}